
.bf-friend {
   margin: 6px;
   width: 32px;
   height: 32px;
   float: left;
   border-radius: 360px;
}

.bf-friend-name {
   color: white;
   float: left;
   font-family: 'Whitney','Helvetica Neue','Helvetica','Arial',sans-serif;
   font-weight: 700;
   margin-left: 8px;
   font-size: 20px;
}

.bf-friend-discrim {
   color: hsla(0,0%,100%,.6);
   float: left;
   font-family: 'Whitney','Helvetica Neue','Helvetica','Arial',sans-serif;
   font-size: 16px;
   position: relative;
   top: 4px;
   padding-right: 6px;
   &.bf-friend-discrim::before {
      content: '#';
   }
}

.bf-friend-name, .bf-friend-discrim {
   margin-top: 8px;
}

.bf-star {
   display: inline;
   margin-left: 4px;
   padding-left: 12px;
   background: url('https://canary.discordapp.com/assets/e4d52f4d69d7bba67e5fd70ffe26b70d.svg') 50% no-repeat;
   background-size: 9px 9px;
}

.bf-information {
   width: 15px;
   min-width: 15px;
   min-height: 15px;
   height: 15px;
   display: none;
   opacity: .4;
}

.bf-information:hover {
   opacity: .9;
}

.channel-2QD9_O:hover .bf-information {
   display: block;
}

.bf-user-settings {
   width: auto !important;
   margin-bottom: 32px;
}

.bf-friend-item {
   padding: 6px;
   padding-left: 18px;
   margin-top: 4px;
   margin-bottom: 4px;
   height: auto;
}

.bf-notification-sounds {
   width: auto !important;
   padding-bottom: 64px;
}

.bf-notification-sounds-icon {
   background: url('https://canary.discordapp.com/assets/f9b93aa0d9985bd2b678da58ed0d75d2.svg') 50% no-repeat !important;
   width: auto;
   height: auto;
}

.bf-notification-sounds > div > div > div > .divider-3573oO.marginTop20-3TxNs6 {
   display: none;
}

.bf-channel {
   cursor: pointer;
}

.bf-header-privatechannels {
   color: #fff;
   cursor: default;
   display: block;
   font-size: 12px;
   font-weight: 500;
   margin-top: 12px;
   opacity: .3;
   overflow: hidden;
   padding: 9px 20px;
   text-overflow: ellipsis;
   text-transform: uppercase;
   transition: opacity .15s ease;
   white-space: nowrap;
}

.searchBar-2_Yu-C {
   width: 100%;
}